@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #1DA1F2;
    --border-color:#243447;
    --backdrop-color: #090e13;
    --hover-color: #111a24;
    --base-color: #fac042;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bodyLogin {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--backdrop-color);
}

.container{
    position: relative;
    max-width: 430px;
    width: 430px;
    background: var(--backdrop-color);
    border: 2px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.container form{
    padding: 30px;
    border-radius: 10px;
}

.input:focus {
    border-bottom-color: var(--base-color);
}

.title {
    color: white;
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: var(--base-color);
    border-radius: 25px;
}

.inputField{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
    background-color: var(--backdrop-color);
}

.input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--border-color);
    border-top: 2px solid transparent;
    border-radius: 20px;
}

.text{
    color: white;
    font-size: 14px;
}

a {
    color: var(--base-color);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.button {
    margin-top: 10px;
}

.button, .submitBtn {
    border:none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    border-radius: 25px;
    padding: 8px;
    cursor: pointer;
    letter-spacing: 1px;
    background-color:var(--base-color);
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #eb9526;
}

.loginSignup {
    height: 50px;
    width: 100%;
    text-align: center;
}

.viewLink {
    color: black;
    text-decoration: none;
}

.error {
    color: red;
}

.loginSignup a:hover {
    color: #eb9526;
}