@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --primary-color: #1DA1F2;
    --border-color:#243447;
    --backdrop-color: #090e13;
    --hover-color: #111a24;
    --base-color: #fac042;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* LAYOUT CSS */

.row{
    background-color: var(--backdrop-color);
    min-height: 100vh;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.topContent {
    margin-top: 27px;
    display: flex;
    align-items: center;
}

.bottomContent {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
}

.column {
    float:left;
    width: 33.33%;
    padding: 0px 10px 10px 10px;
}

.rightColumn {
    position: fixed;
    overflow: hidden;
    right: 300px;
    height: 100vh;
    padding: 10px 14px;
    width: 300px;
    background-color: var(--backdrop-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-left: solid 2px var(--border-color);
    border-right: solid 2px var(--border-color);
}

/* PAGE ITEMS CSS */

.pageTitleText, .feedFilter, .feedFilter2 {
    margin-right: 10px;
    font-weight: 600;
    font-size: 30px;
    color: white;
}

.feedFilter2 {
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

.feedButtonContainer .feedFilter:hover {
    color: var(--base-color);
    background-color: var(--hover-color);
    border: 2px solid var(--hover-color);
    border-radius: 25px;
    width: 100%;
    padding: 8px;
}

.feedFilterActive {
    margin-right: 10px;
    font-weight: 600;
    font-size: 30px;
    color: var(--base-color);
}

.error {
    color: red;
    margin: 5px;
}

/* NAV CSS */

.nav {
    position: fixed;
    overflow: hidden;
    left: 350px;
    height: 100vh;
    padding: 10px 14px;
    width: 250px;
    background-color:var(--backdrop-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-right: solid 2px var(--border-color);
    border-left: solid 2px var(--border-color);
}


.logoImage {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 45px;
}

.logoName {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoImage {
    display: flex;
    min-width: 45px;
}

.logo_name {
    font-size: 50px;
    font-weight: 700;
    color: var(--base-color);
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);;
}

.menuItems {
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.icon {
    text-decoration: none;
    height: 50px;
    display: flex;
    align-items: center;
}

i {
    font-size: 24px;
    min-width: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--border-color)
}

.list {
    list-style: none;
    margin-left: -2em;
}

.linkName {
    font-size: 17px;
    font-weight: 400;
    color: var(--border-color);
}


a:hover:before {
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #eb9526;
}

a:hover {
    text-decoration: none;
}

a:hover i,
a:hover .linkName {
    color: var(--base-color);
    text-decoration: none;
}

.menuLinks {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.menuLinks li:hover, .logoutMod li:hover{
    background-color: var(--hover-color);
    border: 2px solid var(--hover-color);
    border-radius: 25px;
    padding: 3px;
}

.logoutMod {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-bottom: 25px;
}

/* MESSAGE DASHBOARD CSS */

.userSearchInput {
    padding: 3px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    width: 98%;
}

.createChatBtn, .createChatBtn2 {
    background-color: #fac042;
    color: white;
    font-size: 15px;
    font-weight: 500;
    padding: 2px;
    border: none;
    border-radius: 6px;
    width: 100%;
}

.column1 {
    float:left;
    width: 31%;
    padding: 0px 10px 10px 10px;
}

.column2 {
    float:left;
    width: 20%;
    height: 100vh;
    border-right: solid 2px var(--border-color);
    border-left: solid 2px var(--border-color);
}

.column3 {
    float:left;
    width: 33.33%;
    padding: 0px 10px 10px 10px;
    border-right: solid 2px var(--border-color);
    height: 100vh;
}

.column3 img {
    clip-path: circle();
    width: 45px;
    margin-right: 5px;
}

.column3 .topContent {
    background-color: var(--base-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 30px 10px 0px 10px;
    padding: 10px
}

.createChatContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.messageListContainer {
    display: flex;
    flex-direction: column;
}

.messageListContainer div img {
    clip-path: circle();
    width: 50px;
    margin: 0px 10px;
}

.messageListContainer div div {
    display: flex;
    align-items: center;
}

.chat {
    display: flex;
    align-items: center;
    width: 100%;
    color: white;
    padding: 5px;
}

.chatActive {
    display: flex;
    align-items: center;
    width: 100%;
    color: white;
    padding: 5px;
    background-color: var(--base-color);
}

.openChatTop, .openChatTopGC {
    display: flex;
    align-items: center;
    width: 100%;
}

.openChatTopGC {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.openChatTopGC .one {
    display: flex;
    flex-direction: row;
}

.openChatTopGC .two i {
    color: var(--border-color);
}

.pageTitleText2 {
    margin: 10px;
    font-weight: 600;
    font-size: 30px;
    color: white;
}

.pageTitleText3 {
    margin: 10px;
    font-weight: 600;
    font-size: 22px;
    color: white;
}

.loggedUserMessageDiv, .userMessageDiv {
    overflow-wrap: break-word;
    max-width: 49%;
    width: 49%;
    margin: 2px;
    border-radius: 10px;
}

.loggedUserMessageDiv p, .userMessageDiv p {
    margin: 3px;
}

.loggedUserMessageDiv{
    color: white;
    background-color: var(--primary-color);
    float: right;
    clear: right;
    margin-left: 100px;
}

.userMessageDiv{
    color: white;
    background-color: 	#141d26;
    float: left;
    clear: left;
}

.messageDiv {
    margin: 10px 0px;
    display: block;
    flex-direction: column;
}

.messagesContainer {
    background-color: var(--backdrop-color);
    margin: 0px 10px 10px 10px;
    overflow-y: scroll;
    height: 83%;
    max-height: 83%;
    border-left: solid 2px var(--border-color);
    border-right: solid 2px var(--border-color);
    border-bottom: solid 2px var(--border-color);
}

.messageInputGroup {
    display: flex;
    margin-top: 5px;
}

.chatInput {
    width: 100%;
    margin: 5px 10px 10px 10px;
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.profilePicture2 {
    clip-path: circle();
    width: 35px;
    margin-right: 5px;
    margin-left: 20px;
}

.messageListUsername2 {
    font-size: 15px;
    font-weight: 600;
    margin: 5px;
    color: white;
}

.messageListUserHeading, .messageListUserHeading2 {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 100%;
}

.messageListUserHeading2 {
    background-color: var(--border-color);
}

.selectedUsersContainer {
    display: flex;
    flex: wrap;
    width: 100%;
}

.selectedUser {
    height: 25px;
    color: white;
    margin: 10px 0px 3px 10px;
    background-color: var(--base-color);
    padding: 3px;
    border-radius: 5px;
}

.createChatContainer {
    width: 100%;
}

.createChatContainer .createChatBtn2 {
    width: 95%;
}

.createChatForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createChatForm .createChatDiv1 {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.createChatDiv2 {
    margin: 10px;
    width: 95%;
}

.createChatForm input {
    width: 100%;
}

.settingsLabels {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.settingsFormControl {
    width: 50%;

}

.settingsFormControl input {
    width: 100%;
    border-radius: 20px;
    border: none;
    margin: 12px 0px;
}

.messageSettingsContainer, .messageSettingsContainer2 {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--border-color);
    padding: 5px;
    height: 180px;
    border-radius: 25px;
}

.messageSettingsContainer2 {
    height: 100%;
}

.messageSettingsContainer div label {
    color: white;
    font-weight: 500;
}

.messageSettingsContainer div {
    margin: 2px;
}

.settingsSubmit {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.settingsSubmit button {
    height: 75%;
    width: 100%;
    padding: 5px 10px;
    margin-left: 5px;
    background-color: rgb(49, 240, 49);
    color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.fileInput {
    display: none;
}

/* GROUP CHAT CSS */

.createGroupChatBtn{
    border: none;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    background-color: #007bff;
    color: white;
    font-weight: 500;
}

.groupChatInputContainer{
    background-color: white;
}


/* CONTAINER CSS */

.profilePicture {
    clip-path: circle();
    width: 50px;
    margin-right: 5px;
}

.profileLink {
    text-decoration: none;
    color: var(--base-color);
}

.profileLink:hover{
    color: white;
}

.username {
    font-size: 20px;
    font-weight: 600;
    margin: 5px;
    color: white;
}

.usernameWithProfilePicture {
    display: flex;
    align-items: center;
}

.usernameWithProfilePicture button {
    border: none;
    background: none;
    color: rgb(26, 25, 25);
}

.usernameWithProfilePicture button:hover {
color: red;
}

.postImageContainer img {
    height: auto;
    max-width: 100%;
}

.postImageContainer {
    overflow: hidden;
}

.container{
    width: 100%;
    margin-top: 20px;
    background: var(--backdrop-color);
    border: solid 2px var(--border-color);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.containerContent {
    padding: 10px;
    margin: 5px;
}

.containerContentBottom {
    margin: 15px 15px 0px 15px;
}

.containerHeading {
    margin: 15px 15px 0px 15px;
}

.postDescription {
    color: white;
}

.postLikes {
    display: flex;
}

.postLikes i {
    color: red;
}

/* Profile Page CSS */

.profilePageUsername {
    font-size: 40px;
    font-weight: 600;
    margin: 5px;
    color: white;
}

.profilePageInputGroup {
    display: flex;
}

.profilePageLabels {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.profilePageInputs {
    display: flex;
    flex-direction: column;
}

.profilePageDisplayImage {
    width: 300px;
}

.profilePageImageDiv {
    margin: 20px 35px;
    display: flex;
    justify-content: flex-end;
}

.profilePageSubmitDiv {
    display: flex;
    justify-content: flex-start;
    margin: 20px 35px;
}

.profilePageSubmitDiv button {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: rgb(49, 240, 49);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.inputLabel {
    color: white;
    font-weight: 500;
    margin: 5px;
}

.input {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 5px;
    outline: none;
    border-top: 2px solid transparent;
}

/* VIEW USER PROFILE CSS */

.viewUserInfoContainer {
    display: flex;
    margin: 15px 15px 15px 15px;
}

.profileTagContainer {
    color: white;
    font-size: 20px;
    font-weight: 600;
    width: 65%;
}

.profileTagInfo {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.profileTagInfo .Link {
    color: white;
    font-size: 15px;
    font-weight: 400;
    margin-top: 14px;
}

.profileTagInfo button {
        padding: 5px 10px;
        margin-left: 5px;
        background-color: lightgreen;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
}

.editProfileBtn {
    color: var(--base-color);
    text-decoration: none;
}

.editProfileBtn:hover {
    color: #eb9526;
}

/* POST FORM CSS */

.createPostGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.createPostGroup input, button {
    margin: 5px;
}

.createPostGroup button {
    padding: 5px;
    width: 100%;
    background-color: rgb(85, 247, 85);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* VIEW POST CSS */

.commentContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.commentContainer div button {
    border: none;
    background: none;
    color: rgb(141, 141, 141);
}

.commentContainer div button:hover {
    color: red;
}

.commentContainer div {
    display: flex;
}

.commentContainer p {
    margin: 0px 10px;
}

.commentForm div {
    display: flex;
    width: 100%;
    align-items: center;
}

.commentForm button {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: rgb(49, 240, 49);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.commentForm input {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 5px;
    outline: none;
}